@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}


.borda, .borda2, .borda3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    box-sizing: border-box;
    background-color: #353535;
    border-radius: 17px 0px 17px 0px;
}

.borda3{
    width: 50%;
}


.borda2{
    border-radius: 17px;
}

.conteudo{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    align-items: start;
    justify-content: space-between;
    padding: 3%;
    background-image: url(imgs/fundo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.infos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
}

.logo{
    color: #D9D9D9;
    font-family: 'Montserrat';
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo2{
    color: #058BA2;
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    font-style: normal;
    font-weight: 900;
    line-height: 82.331%;
}

.logo3{
    color: #D2D2D2;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.nome, .nome2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    border-radius: 30px;
    border: 1px solid #FFF;
    background: rgba(165, 165, 165, 0.30);
    box-shadow: 4px 4px 17.9px 0px rgba(0, 0, 0, 0.04);
}

.primeiro{
    display: flex;
    flex-direction: column;
}

.nome{
    height: 30%;
}

.nome2{
    height: 60%;
    justify-content: end;

}

.bateria{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #058BA2;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; 
    height: 90%;   
    width: 100%;
    filter: blur(8px);
    transition: 1s ease;
    overflow: hidden;
}

.nome2:hover .bateria {
    filter: blur(8px) brightness(130%);

}

.cima{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 25%;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 1em;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.dives{
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video{
    display: flex;
    position: relative; 
    overflow: hidden; 
    border-radius: 17px;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    width: 75%;
    height: 100%;
    padding: 2%;
    padding-bottom: 0;
    padding-right: 0;
    box-sizing: border-box;
    clip-path: url(imgs/corte1.svg);
}

.grade{
    width: 75%;
    height: 100%;
    padding: 2%;
    padding-bottom: 0;
    padding-right: 0;
    box-sizing: border-box;
    border-radius: 17px;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px; 
    transition: 1s filter;
}

.grid-item {
    border: 1px solid #ccc;
    border-radius: 14px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.grade :hover{
    transform: scale(1.1);
}

.voltar{
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 8%;
    right: 1%;
    z-index: 2;
    height: 10%;
    border-radius: 50%;
    width: 5%;
    background-color: #058BA2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: rotate(180deg);
    cursor: pointer;
}

#video, #grade {
    transition: opacity 1s ease-in-out;
}

#video.fade-out {
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 100%);
    -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 0%);
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.video video {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: brightness(0.7);
    transition: 1s filter;
    clip-path: url(#myClipPath); /* Aplica o SVG de recorte */
}
.video{
    color: white;
}

.top{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: top;
    width: 100%;
    z-index: 1;
}

.redes{
    display: flex;
    width: 20%;
    justify-content: space-around;
    flex-direction: row;
    height: 70%;
}

.redes img{
    cursor: pointer;
}

.redes .img1:hover {
    
}

.redes .img2:hover {
}


.empresas{
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 30%;
    overflow-x: auto; /* rolagem horizontal */
    white-space: nowrap;
    box-sizing: border-box;
    background-color: white;
    border-radius: 33px;
    overflow-y: hidden;
}


.scrolling-wrapper {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
    width: 100%;
    padding: 5%;
    scrollbar-width: none;
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.scrolling-wrapper img {
    flex: 0 0 33.33%; /* cada imagem ocupa um terço da largura do contêiner */
}

/* Estilo para as setas */
.setap {
    cursor: pointer;
    user-select: none;
    width: 2%; /* Ajuste conforme necessário */
    display: flex;    
}

.setap{
    filter: grayscale(100%) brightness(0%);
}

.setap1{
    transform: scale(-1);
}

.empresas img{
    width: 20%;
    height: 100%;
}

.middle{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    height: 90%;
    padding-right: 3%;
}

.card1, .card2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45%;
    width: 100%;
    border-radius: 30px;
    border: 1px solid #FFF;
    background: linear-gradient(103deg, rgba(210, 210, 210, 0.35) -20.67%, rgba(217, 217, 217, 0.03) 117.08%);
    box-shadow: 4px 4px 17.9px 0px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(18px);
    color: #F1EFE7;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 1.2em;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    z-index: 1;
    cursor: pointer;
}

.sobre{
    opacity: 0;
    width: 60%;
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    transition: 1s ease;
}

.down{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

.data{
    color: #FFF;
    font-family: 'Orbitron';
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.where{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    box-sizing: border-box;
}

.inscricao{
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 2%;
    justify-content: space-around;
    align-items: center;
    border: 0;
    border-radius: 17px;
    transition: 0.3s background-color, 0.3s color;
    cursor: pointer;
    color: #000;

}

.inscricao:hover{
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.botaotexto{
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
}

.botaotexto text{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    text-wrap: nowrap;
}

.seta{
    background-color: black;
    border-radius: 15px;
    width: 15%;
}


@media (max-width: 720px) {
    .conteudo{
        flex-direction: column;
        align-items: center;

    }
    .infos {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%; 
        height: 30%;
    }

    .nome, .nome2{
        width: 45%;
        height: 90%;
    }

    .primeiro{
        font-size: 0.7em;
    }

    .video{
        width: 100%;
        height: 100%;
    }

    .cards{
        width: 25%;
        height: 100%;
    }
    
    .card1, .card2{
        height: 45%;
        width: 100%;
        font-size: 1.1em;
    }

    .dives{
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .middle{
        height: 50%;
        width: 100%;
    }

    .sobre{
        font-size: 0.8em;
    }

    
    .where{
        width: 20%;
        height: 100%;
        padding: 2%;
    }

    .where img{
        height: 80%;
    }
    
    .inscricao{
        width: 100%;
        height: 100%;
        padding: 2%;
    }
    
    .botaotexto{
        width: 80%;
        height: 100%;
    }
    
    .botaotexto text{
        font-size: 2.7vw;
    }
    
    .seta{
        width: 15%;
    }

    .cima{
        height: 20%;
        top: 4%;
        right: 12vw;
        z-index: 5;
        font-size: 1em;
        line-height: normal;
    }
}
